module.exports = {

	// listen on host and port
	host: "localhost",
	port: 3000,

	// or listen on a socket instead
	//	socket: "liftstream.sock",

	// save elevator states here
	statefile: "/tmp/elevents.json",

	// log elevator events here
	logfile: "/tmp/elevents.log",

	// adam api polling interval
	interval: "30s"

};